body {
  background-color: midnightblue;
  color: whitesmoke;
}

.container {
  background-color: #ffffff1a;
  width: 80%;
  max-width: 600px;
  border-radius: 10px;
  margin: 20px auto;
  padding: 10px 20px;
  box-shadow: 0 5px 15px black;
}

.center {
  text-align: center;
}

label {
  font-size: 1.2rem;
}

label:not(.availability) {
  display: block;
  margin: 10px 0;
}

fieldset {
  border: 1px solid gray;
  border-radius: 5px;
  margin: 20px 0;
  padding: 20px;
}

fieldset legend {
  font-size: 1.3rem;
  font-weight: 600;
}

input:not(.availability-radio-btn),
textarea,
select {
  background-color: #ffffff1a;
  width: 95%;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 10px;
}

input,
input::placeholder,
textarea,
select {
  color: whitesmoke;
}

.submit-btn {
  cursor: pointer;
  background-color: royalblue;
  color: whitesmoke;
  border: none;
  border-radius: 6px;
  padding: 12px 20px;
  font-size: 1.1rem;
  display: block;
  width: 100%;
  margin: 20px 0;
}

button:hover {
  background-color: midnightblue;
}

input:focus, textarea:focus {
  outline: none;
  border: 2px solid whitesmoke;
}

input:invalid, select:invalid, textarea:invalid {
  border: 2px solid red;
}

input:valid, select:valid, textarea:valid {
  border: 2px solid green;
}

.radio-group input[type="radio"]:checked {
  background-color: lightgreen;
  border-color: lightgreen;
  box-shadow: 0 2px 10px lightgreen;
}

.radio-group input[type="radio"]:checked + label {
  color: #00FFFF;
}

input:first-of-type {
  border-radius: 60px;
}
