* {
  box-sizing: border-box;
}

body {
  background-color: gray;
  font-family: sans-serif;
  width: 100%;
  height: 100vh;
  text-align: center;
  padding: 0;
  margin: 0;
}

h1 {
  text-align: center;
  color: white;
  text-transform: uppercase;
}

.box {
  width: 200px;
  background-color: white;
  height: 400px;
  display: inline-block;
  line-height: 400px;
  color: white;
  font-weight: 600;
  font-size: 2rem;
  margin: 0 20px;
  border-radius: 8px;
}

.box:hover {
  transform: translate(0, -5px);
  cursor: pointer;
  transition: all 0.3s;
}


.green {
  background-color: green;
}

.red {
  background-color: red;
}

.black {
  background-color: black;
}

header {
  padding: 20px;
}
